.profile-container {
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 60px;
  width: 75%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.profile-products {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
